
{% extends "base.html.twig"%}

{% block body %}


<h3>Create Form</h1>

{% for message in app.flashes('notice') %}
    {{message}}
{%endfor%}
{{form_start(form)}}
{{ form(form) }}

{{ form_end(form)}}
<br>
<button class="btn btn-primary"><a href="main" class="text-light">Display</a></button>
{% endblock%}