
{% extends "base.html.twig"%}

{% block body %}

<div class="container my-5 ">
<h1>Create Form</h1>

{% for message in app.flashes('notice') %}
    {{message}}
    
{%endfor%}



{{ form(form) }}



<br> 

    <button class="btn btn-info"><a href="main" class="text-light">Display</a> </button>
    <button class="btn btn-info"><a href="{{path('app_logout')}}" class="text-light text-decoration-none">Logout</a> </button>

        
    </div>
{% endblock%}